<!--Dina Boshnaq-->
<!--r0823887-->
<!--1ITF 1ACS-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Customer Details</title>
    <link rel="stylesheet" type="text/css" href="img/style.css" />
</head>
<body>
    <main>
        <h1>New Customer Details</h1>
        <p th:text = "'Welcome ' + ${newCustomerDetails.toString()}"></p>
        <p id="home"><a href="/">Back to home page</a></p>
    </main>
</body>
</html>