<!--Dina Boshnaq-->
<!--r0823887-->
<!--1ITF 1ACS-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New Supermarket Form</title>
    <link rel="stylesheet" type="text/css" href="img/style.css" />
</head>
<body>
<main>
    <h1>New Supermarket Form</h1>
    <form action="/addNewSupermarket">
        <p>
            <label for="name">Name supermarket</label>
            <input type="text" name="name" id="name">
        </p>

        <p>
            <input id="submit" type="submit" name="addSupermarket" value="Confirm supermarket">
        </p>
    </form>
    <p id="home"><a href="/">Back to home page</a></p>
</main>
</body>
</html>